fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
pymysql==1.1.1
pydantic[email]==2.7.1
pydantic-settings==2.3.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
openai==1.35.0
python-dotenv==1.0.0
""" pwd directrice 240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9"""
